* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
  color: #fff;
  text-align: center;
  font-family: "Gill Sans", Calibri, "Trebuchet MS", sans-serif;
}

h1,
h2,
span,
a,
button {
  color: #ffb81f;
}

header {
  padding: 60px 20%;
  background: #1b243f url("assets/images/banner.png") center/cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

button {
  background: transparent;
  border: 2px solid #ffb81f;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 20px;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background: #1853a0;
  transform: scale(1.1);
}

#course-content {
  background: #1853a0;
  padding: 80px 20%;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 250px rgba(0, 0, 0, 0.8);
}

.module {
  max-width: 500px;
  height: 40px;
  padding: 10px;
  margin: 20px auto;
  background: #1b243f;
  border: 2px solid #ffb81f;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

#transform-world {
  height: 400px;
  background: url("assets/images/woman-code.png") center/cover fixed;
  display: flex;
  align-items: center;
}

#transform-world p {
  width: 30%;
  margin-left: 5%;
  font-size: 27px;
  font-weight: 700;
  text-align: left;
}

#professional-challenges {
  padding: 20px 10%;
}

@media (min-width: 500px) {
  #professional-challenges {
    padding: 5% 25%;
  }
}

footer {
  border-top: 2px solid #ffb81f;
  background: #1b243f;
  padding: 2%;
  margin-bottom: -10px;
}

.dio-logo {
  margin-top: 30px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

span {
  font-weight: 600;
}

img {
  max-width: 100%;
}
